body {
    font-family: Arial, sans-serif;
}

.navbar-toggler {
    margin-right: auto;
  }

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.container i {
    margin: 20px;
}

.modal-content {
    text-align: left;
}
